*,
:after,
:before {
  box-sizing: border-box;
}

body {
    font-family: 'Whitney SSm A','Whitney SSm B',verdana,sans-serif;
    font-weight: 400;
    color: #222222;
    padding: 0 0;
}

.page-content {
    padding-top: 100px;
}

.player {
    color: #b71c1c;
}

h1, h2, h3, p, .container .second-grid {
    margin: 2rem auto;
    max-width: 750px;
}

h3 {
    font-size: 1.8em;
}

h2 {
    text-align: center;
    font-size: 2.5em;
}

a:link, a:visited { 
    text-decoration: none;
    color: #0d47a1;
}

a:hover {
    color: #b71c1c;
    text-decoration: underline;
}

.first-grid {
    display: block;
}

.second-grid {
    width: 318px;
    display: none;
}

.top-row div, .second-row div, .third-row div {
    float: left;
    height: 106px;
    min-width: 106px;
}

#top-left {
    border-right: 5px solid #0d47a1;
    border-bottom: 5px solid #0d47a1;
}

#top-middle {
     border-right: 5px solid #0d47a1;
     border-bottom: 5px solid #0d47a1;
}

#top-right {
     border-bottom: 5px solid #0d47a1;
}

#middle-left {
     border-right: 5px solid #0d47a1;
      border-bottom: 5px solid #0d47a1;
}

#middle-middle {
    border-right: 5px solid #0d47a1;
     border-bottom: 5px solid #0d47a1;
}

#middle-right { 
     border-bottom: 5px solid #0d47a1;
}

#bottom-left {
    border-right: 5px solid #0d47a1;
}

#bottom-right {
    border-left: 5px solid #0d47a1;
    margin-left: -5px;
}

#indicator{
    display: block;
    height: 35px;
}

button {
    margin-top: 30px;
    height: 40px;
    color: blue;
    background-color: white;
    margin-left: 100px;
}

@media only screen and (max-width: 420px) {
 .page-content{
     padding-top: 50px;
 }
}