*,
:after,
:before {
  box-sizing: border-box;
}

body {
    font-family: 'Whitney SSm A','Whitney SSm B',verdana,sans-serif;
    font-weight: 400;
    color: #222222;
    padding: 0 1em;
}

.page-content {
    padding-top: 100px;
}

h1, h2, h3, p, .container .second-grid {
    margin: 2rem auto;
    max-width: 750px;
}

a:link, a:visited { 
    text-decoration: none;
    color: #0d47a1;
}

a:hover {
    color: #b71c1c;
    text-decoration: underline;
}

.first-grid {
    display: none;
}

.second-grid {
    width: 318px;
}

.top-row div, .second-row div {
    float: left;
    height: 106px;
    min-width: 106px;
}

#top-left {
    border-right: 5px solid #e46119;
    border-bottom: 5px solid #e46119;

}

#top-middle {
     border-right: 5px solid #e46119;
     border-bottom: 5px solid #e46119;
}

#top-right {
     border-bottom: 5px solid #e46119;
}